<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Add Multisig Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Backup Wallet</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Check Wallet</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Create Multi Sig</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Create Raw Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Decode Raw Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Dump Private Key</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Account</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Account Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Addresses By Account</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Balance</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Block</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    <pre>&lt;hash&gt; [txinfo] [txdetails]</pre>
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Block Count</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Block Hash</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Checkpoint</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Connection Count</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Difficulty</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Generate</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Hashes Per Second</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Info</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Mining Info</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Network GH/ps</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get New Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Peer Info</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Raw Mem Pool</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Raw Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Received By Account</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Received By Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get TX Out</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Get Work</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Help</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Import Private Key</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Keypool Refill</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Accounts</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Address Groupings</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Minting</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Received By Account</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Received By Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Since Block</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Transactions</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">List Unspent</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Make Key Pair</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Move</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Repair Wallet</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Reserve Balance</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Send Alert</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Send From</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Send Many</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Send Raw Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Send To Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Set Account</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Set Generate</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Set Tx Fee</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Sign Message</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Sign Raw Transaction</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Stop</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Submit Block</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Validate Address</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Verify Message</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Wallet Lock</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Wallet Passphrase</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Wallet Passphrase Change</div>
        <div class="panel-body">
            <tabset justified="true">
                <tab heading="Command">
                    Not Ready
                </tab>
                <tab heading="Response">
                    <pre>Not Ready</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>