<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                TXID:  {{txid}}
            </div>
            <div class="panel-body">
                <tabset justified="true">
                    <tab heading="Formatted">
                        Work in Progress
                    </tab>
                    <tab heading="Raw JSON">
                        txid:
                        <pre>{{txid}}</pre>
                        gettransaction:
                        <pre>{{gettransaction| json }}</pre>
                        rawtrans:
                        <pre>{{rawtrans | json }}</pre>
                        decodedtrans:
                        <pre>{{decodedtrans | json }}</pre>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>